.checkout {
  height: 66vh;
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  padding-bottom: 2rem;
}

.list-group {
  margin-bottom: 1rem;
  max-height: 300px;
  overflow-y: auto;
}



