.detalles-libro {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.detalles-libro .row {
    display: flex;
    align-items: center;
}

.detalles-libro .libro-imagen {
    width: 100%;
    max-width: 263px; 
    height: 380px;  
    object-fit: cover;
}

.detalles-libro .details {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.detalles-libro .autor {
    font-style: italic;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.detalles-libro .titulo {
    font-weight: bold;
    margin-top: 0.5rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.detalles-libro .descripcion {
    margin-top: 1rem;
    font-size: 1.2rem;
}

#añade-libro{
  align-self: center;
}

.carrito-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
