
.search-bar {
    width: 100%;
    max-width: 500px;
    margin: 2rem 0 1rem 7rem;
}

.card-img-top {
    object-fit: cover;
    width: 41%; 
    height: 250px; 
    margin: 0 auto; 
}

.card-body {
    text-align: center;
}

.card .btn {
    margin-top: auto;
}

.full-height-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }